# See:
# https://github.com/sxyazi/yazi/blob/main/yazi-config/preset/keymap-default.toml
# https://github.com/sxyazi/yazi/blob/shipped/yazi-config/preset/keymap-default.toml
# https://yazi-rs.github.io/features/
# https://yazi-rs.github.io/docs/tips/
# https://yazi-rs.github.io/docs/configuration/keymap/#manager.shell

#[manager]
#prepend_keymap = [
#    { on = [ "g", "e" ], run = "cd /etc", desc = "cd to /etc" },
#]

# bind S: open shell here
[[mgr.prepend_keymap]]
on   = "S"
run  = 'shell "$SHELL" --block --confirm'
desc = "Open shell here"

# bind ctrl-n: create new directory
[[mgr.prepend_keymap]]
on = "<C-n>"
#run = [ '''shell --block --interactive''' ]
run = [ '''create --dir''' ]
desc = "Create new dir"

# bind D: delete file or directory
[[mgr.prepend_keymap]]
on = "D"
run = [ '''delete''' ]
desc = "Delete file or directory"

# oil-like
# bind o: create file/dir
[[mgr.prepend_keymap]]
on = "o"
run = [ '''create''' ]
desc = "Create"

# ranger/lf-like
#[[manager.prepend_keymap]]
#on = "l"
#run = '''
#    shell --confirm 'if [ -d "$@" ]; then ya emit enter; elif [ -f "$@" ]; then ya emit open; else echo "Unknown item"; fi'
#'''
#desc = "Enter directory or open file"
# Use plugin instead
# https://github.com/yazi-rs/plugins/tree/main/smart-enter.yazi
# bind l: smart-enter (enter dir or open file)
[[mgr.prepend_keymap]]
on   = "l"
run  = "plugin smart-enter"
desc = "Enter the child directory, or open the file"

# Sorting
# ...

# Settings
# ...

# g-binds
# bind gC: cd to /
[[mgr.prepend_keymap]]
on = ["g", "C"]
run = [ '''cd /''' ]
desc = "cd to /"

# bind ge: cd to /etc
[[mgr.prepend_keymap]]
on = ["g", "e"]
run = [ '''cd /etc''' ]
desc = "cd to /etc"

# bind gu: cd to /usr
[[mgr.prepend_keymap]]
on = ["g", "u"]
run = [ '''cd /usr''' ]
desc = "cd to /usr"

# bind gh: cd to /home/jonas
[[mgr.prepend_keymap]]
on = ["g", "h"]
run = [ '''cd /home/jonas''' ]
desc = "cd to /home/jonas"

# bind gl: cd to ~/.local
[[mgr.prepend_keymap]]
on = ["g", "l"]
run = [ '''cd ~/.local''' ]
desc = "cd to local data"

# bind gL: cd to ~/.local/share
[[mgr.prepend_keymap]]
on = ["g", "L"]
run = [ '''cd ~/.local/share''' ]
desc = "cd to config data"

# bind gM: cd to /mnt
[[mgr.prepend_keymap]]
on = ["g", "M"]
run = [ '''cd /mnt''' ]
desc = "cd to /mnt"

# bind ga: cd to ~/Downloads
[[mgr.prepend_keymap]]
on = ["g", "a"]
run = [ '''cd ~/Downloads''' ]
desc = "cd to ~/Downloads"

# bind gd: cd to ~/Documents
[[mgr.prepend_keymap]]
on = ["g", "d"]
run = [ '''cd ~/Documents''' ]
desc = "cd to ~/Documents"

# bind gw: cd to ~/Pictures/Wallpapers
[[mgr.prepend_keymap]]
on = ["g", "w"]
run = [ '''cd ~/Pictures/Wallpapers''' ]
desc = "cd to Wallpapers"

# bind gm: cd to /media2/Movies
[[mgr.prepend_keymap]]
on = ["g", "m"]
run = [ '''cd /media2/Movies''' ]
desc = "cd to Movies"

# bind g.: cd to ~/.config
[[mgr.prepend_keymap]]
on = ["g", "."]
run = [ '''cd ~/.config''' ]
desc = "cd to ~/.config"

# bind g?: cd to ~/.config/yazi
[[mgr.prepend_keymap]]
on = ["g", "?"]
#run = [ '''cd /usr/share/doc/yazi''' ]
run = [ '''cd ~/.config/yazi''' ]
desc = "cd to yazi conf"

# bind gc: cd to ~/Code2
[[mgr.prepend_keymap]]
on = ["g", "c"]
run = [ '''cd ~/Code2''' ]
desc = "cd to ~/Code2"

# bind gn: cd to ~/Documents/my_notes
[[mgr.prepend_keymap]]
on = ["g", "n"]
run = [ '''cd ~/Documents/my_notes''' ]
desc = "cd to my_notes"

# bind gp: cd to ~/Documents/windows_dots
[[mgr.prepend_keymap]]
on = ["g", "p"]
run = [ '''cd ~/Documents/windows_dots''' ]
desc = "cd to ps_profile_path"

# bind gr: cd to git root
[[mgr.prepend_keymap]]
on = [ "g", "r" ]
run = '''
	shell 'ya emit cd "$(git rev-parse --show-toplevel)"'
'''
desc = "cd to git root dir"

# bind gf: open file in vim via term_vim.sh
[[mgr.prepend_keymap]]
on = ["g", "f"]
run = [
'''
    shell '~/.local/bin/my_scripts/term_vim.sh wezterm "$0"' --confirm 
'''
]
desc = "Open file in vim inside a new wezterm window"

# bind gx: open file in firefox
[[mgr.prepend_keymap]]
on = ["g", "x"]
run = [
'''
    shell 'firefox "$0"' --confirm 
'''
]
desc = "Open file in firefox"

# Fuzzy search
#[[manager.prepend_keymap]]
#on = "Ctrl-f"
#run = [ '''fzf_search''' ]
#desc = "Search files"
#
#[[manager.prepend_keymap]]
#on = "Ctrl-g"
#run = [ '''fzf_search_dirs''' ]
#desc = "Search directories"

# Default Z key can also be used instead of this
# bind ctrl-f: fzf jump to file/directory
[[mgr.prepend_keymap]]
on = "<C-f>"
run = [ '''plugin fzf''' ]
desc = "Jump to a file/directory via fzf"

# Rename
# bind cw: rename
[[mgr.prepend_keymap]]
on = ["c", "w"]
run = [ '''rename''' ]
desc = "Rename"

# Tagging / marking
#[[manager.prepend_keymap]]
#on = ["m", "c"]
#run = [
#    '''
#    shell 'echo "$PWD" > /tmp/yazi_marked_dir' --confirm
#    '''
#]
#desc = "Mark current dir"
#
## Try in shell:
## marked_dir=$(cat /tmp/yazi_marked_dir 2>/dev/null) && [ -d "$marked_dir" ] && cd "$marked_dir" || echo "No valid marked directory"
## This also works (maybe redundant though):
##shell 'marked_dir=$(cat /tmp/yazi_marked_dir 2>/dev/null) && [ -d "$marked_dir" ] && ya emit cd "$marked_dir" || echo "No valid marked directory"' --confirm
#[[manager.prepend_keymap]]
#on = ["'", "c"]
#run = '''
#    shell 'ya emit cd "$(cat /tmp/yazi_marked_dir 2>/dev/null)"' --confirm
#'''
#desc = "Go back to marked dir"

# Use bookmark plugin instead of above:
# https://github.com/dedukun/bookmarks.yazi
# Add the plugin
#ya pack -a dedukun/bookmarks
# Install the plugin
#ya pack -i
# Upgrade the plugin
#ya pack -u
# bind m: save bookmark
[[mgr.prepend_keymap]]
on = [ "m" ]
run = "plugin bookmarks save"
desc = "Save current position as a bookmark"

# bind ': jump to bookmark
[[mgr.prepend_keymap]]
on = [ "'" ]
run = "plugin bookmarks jump"
desc = "Jump to a bookmark"

# bind bd: delete bookmark
[[mgr.prepend_keymap]]
on = [ "b", "d" ]
run = "plugin bookmarks delete"
desc = "Delete a bookmark"

# bind bD: delete all bookmarks
[[mgr.prepend_keymap]]
on = [ "b", "D" ]
run = "plugin bookmarks delete_all"
desc = "Delete all bookmarks"

###
# Custom
###

# Image commands
# bind bg: set background with feh
[[mgr.prepend_keymap]]
on = ["b", "g"]
run = [
'''
    shell 'feh --bg-scale "$0"' --confirm 
'''
]
desc = "Set current image as background"

# bind bc: rotate image 90 degrees
[[mgr.prepend_keymap]]
on = ["b", "c"]
run = [
'''
    shell 'killall w3mimgdisplay && convert -rotate 90 "$0" "$0"' --confirm 
'''
]
desc = "Rotate image"

# bind bi: resize image to 1440x1080
[[mgr.prepend_keymap]]
on = ["b", "i"]
run = [
'''
    shell 'killall convert "$0" -resize 1440x1080\> "bl_$0"' --confirm 
'''
]
desc = "Resize image"

# bind bt: make image transparent
[[mgr.prepend_keymap]]
on = ["b", "t"]
run = [
'''
    shell 'convert "$0" -transparent white "$0"' --confirm 
'''
]
desc = "Resize image"

# bind space--: copy_path.sh
# Copy path
[[mgr.prepend_keymap]]
on = [" ", "-"]
run = [
	#shell '/home/jonas/.local/bin/my_scripts/copy_path.sh "$@"' --confirm
 '''
    shell 'echo "$@" | sed "s/ /,/g" | xargs -I {} /home/jonas/.local/bin/my_scripts/copy_path.sh "{}"' --confirm
'''
]
desc = "Copy selection to clipboard"

# bind space-_: copy_path.sh (alternate)
[[mgr.prepend_keymap]]
on = [" ", "_"]
run = [
	#shell '/home/jonas/.local/bin/my_scripts/copy_path.sh "$@" 1' --confirm
 '''
    shell 'echo "$@" | sed "s/ /,/g" | xargs -I {} /home/jonas/.local/bin/my_scripts/copy_path.sh "{}" 1' --confirm
'''
]
desc = "Copy selection to clipboard"

# Manage file
# bind space-space: manage_file.sh
[[mgr.prepend_keymap]]
on = [" ", " "]
run = [
    #shell '/home/jonas/.local/bin/my_scripts/manage_file.sh "$@"' --confirm
	#shell '/home/jonas/.local/bin/my_scripts/manage_file.sh "$@" 1' --confirm
    #shell 'echo "$@" | sed "s/ /,/g" | xargs -I {} /home/jonas/.local/bin/my_scripts/manage_file.sh "{}" 1' --confirm
 '''
    shell 'echo "$@" | sed "s/ /,/g" | xargs -I {} /home/jonas/.local/bin/my_scripts/manage_file.sh "{}"' --confirm
'''
]
desc = "Manage file"

###
# https://github.com/lpnh/fg.yazi
###
# Add the plugin
#ya pack -a lpnh/fg
# Install the plugin
#ya pack -i
# Upgrade the plugin
#ya pack -u

# bind fg: find file by content (rg search)
[[mgr.prepend_keymap]]
on   = [ "f", "g" ]
run  = "plugin fr rg"
desc = "find file by content (rg search; Ctrl-s toggles rg/fzf match)"

# bind fG: find file by content (rg search)
[[mgr.prepend_keymap]]
on   = [ "f", "G" ]
run  = "plugin fr rg"
desc = "find file by content (rg search)"

# bind fa: find file by content (ripgrep-all)
[[mgr.prepend_keymap]]
on   = [ "f", "a" ]
run  = "plugin fr rga"
desc = "find file by content (ripgrep-all)"

# bind ff: find file by filename (fd search)
[[mgr.prepend_keymap]]
on   = [ "f", "f" ]
run  = "search --via=fd"
desc = "find file by filename (fd search)"

# bind fF: find file by filename (fd search + hidden)
[[mgr.prepend_keymap]]
on   = [ "f", "F" ]
run  = "search --via=fd --args='-H'"
desc = "find file by filename (fd search + hidden files)"

###
# extract / compress
###

# Extract archive
# bind ex: extract archive
[[mgr.prepend_keymap]]
on = ["e", "x"]
run = '''
    shell '$HOME/.local/bin/my_scripts/2025/extract.sh "$0"' --confirm
'''
desc = "Extract archive"

# Compress - various formats
# bind zz: compress to zip
[[mgr.prepend_keymap]]
on = ["z", "z"]
run = '''
    shell '$HOME/.local/bin/my_scripts/2025/compress.sh "$0" zip' --confirm
'''
desc = "Compress as .zip"

# bind zg: compress to tar.gz
[[mgr.prepend_keymap]]
on = ["z", "g"]
run = '''
    shell '$HOME/.local/bin/my_scripts/2025/compress.sh "$0" tar.gz' --confirm
'''
desc = "Compress as .tar.gz"

# bind zx: compress to tar.xz
[[mgr.prepend_keymap]]
on = ["z", "x"]
run = '''
    shell '$HOME/.local/bin/my_scripts/2025/compress.sh "$0" tar.xz' --confirm
'''
desc = "Compress as .tar.xz"

# bind zb: compress to tar.bz2
[[mgr.prepend_keymap]]
on = ["z", "b"]
run = '''
    shell '$HOME/.local/bin/my_scripts/2025/compress.sh "$0" tar.bz2' --confirm
'''
desc = "Compress as .tar.bz2"

# bind zs: compress to tar.zst
[[mgr.prepend_keymap]]
on = ["z", "s"]
run = '''
    shell '$HOME/.local/bin/my_scripts/2025/compress.sh "$0" tar.zst' --confirm
'''
desc = "Compress as .tar.zst"

# bind z7: compress to 7z
[[mgr.prepend_keymap]]
on = ["z", "7"]
run = '''
    shell '$HOME/.local/bin/my_scripts/2025/compress.sh "$0" 7z' --confirm
'''
desc = "Compress as .7z"

# bind zt: compress to tar (no compression)
[[mgr.prepend_keymap]]
on = ["z", "t"]
run = '''
    shell '$HOME/.local/bin/my_scripts/2025/compress.sh "$0" tar' --confirm
'''
desc = "Compress as .tar (no compression)"

###
# Old (kept for reference)
###

#[[manager.prepend_keymap]]
#on = "y"
##run = [
##  '''
##  shell 'echo "$@" > ~/.config/yazi/test.txt' --confirm
##  '''
##]
#run = [
# '''
#	shell 'echo "$@" | xclip -i -selection clipboard' --confirm
#''', "yank" 
#]
#desc = "Copy selection to clipboard"

# Wayland copy to clipboard and yank:
#[[manager.prepend_keymap]]
#on  = "y"
#run = [ '''
#	shell 'for path in "$@"; do echo "file://$path"; done | wl-copy -t text/uri-list'
#''', "yank" ]

# Use space-space instead of these. These aren't tested...
#[[manager.prepend_keymap]]
#on = ["x", "-"]
#run = [ '''shell chmod -x "$0"''' ]
#desc = "Remove execute permissions"
#
#[[manager.prepend_keymap]]
#on = ["x", "+"]
#run = [ '''shell chmod +x {{s}}''' ]
#desc = "Add execute permissions"

#[[manager.prepend_keymap]]
#on = "X"
#run = [ '''shell tar -zxvf {{f}}''' ]
#desc = "Extract tar.gz"

