* {
  all: unset;
  background-color: #EDEFF1;
}

/*************************************************/
/*************         COLORS        *************/
/*************************************************/
.pink{
  color: #C98093;
}

.green{
  color: #7CA198;
}

.yellow{
  color: #DDB278;
}

.blue{
  color: #6080B0;
}

.violet{
  color: #8E6F98;
}

.cyan{
  color: #6ca8cf;
}

/*************************************************/
/*************      BAR WEDGIT       *************/
/*************************************************/

.bar{
  font-size: 30px;
  font-family: 'JetBrainsMono Nerd Font';
  margin-top: 3px;
}


/*************************************************/
/*************      USER WEDGIT      *************/
/*************************************************/

.user{
  color: #C98093;
  font-size: 23px;
  font-family: 'Monaco';
}

/*************************************************/
/*************      POWER WEDGIT      ************/
/*************************************************/

.power{
  font-size: 45px;
  font-family: 'FontAwesome';
  padding: 15px;
}

/*************************************************/
/*************   DATE/TIME WEDGIT   **************/
/*************************************************/

.date{
  font-size: 70px;
  font-family: 'MonaocBSemi';
}

.day{
  color: #8E6F98;
  font-size: 20px;
  font-family: 'Monaoc';
}

/*************************************************/
/*************      TOOLS WEDGIT      ************/
/*************************************************/

.screenshot{
  font-size: 50px;
  font-family: 'Feather';
  padding: 15px;
}

/*************************************************/
/*************      SYSTEM WEDGIT     ************/
/*************************************************/

.metric-ram scale trough highlight , .metric-vol scale trough highlight , .metric-root scale trough highlight , .metric-disk scale trough highlight, .metric-bright scale trough highlight {
  all: unset;
  border-radius: 10px;
}

.metric-ram scale trough , .metric-vol scale trough , .metric-root scale trough , .metric-disk scale trough, .metric-bright scale trough {
  all: unset;
  background-color: #cdcfd1;
  border-radius: 50px;
  min-height: 18px;
  min-width: 280px;
  margin-left: 20px;
}

.metric-ram scale trough highlight {
  background-color: #6ca8cf;
}

.metric-vol scale trough highlight {
  background-color: #8E6F98;
}

.metric-bright scale trough highlight {
  background-color: #DDB278;
}

.metric-root scale trough highlight {
  background-color: #7CA198;
}

.metric-disk scale trough highlight {
  background-color: #C98093;
}

.ram-lable, .bright-lable, .vol-lable, .root-lable, .disk-lable {
  font-family: "Feather";
  font-size: 25px;
  font-weight: bolder;
}

.ram-lable {
  color: #6ca8cf;

}

.vol-lable {
  color: #8E6F98;
}

.bright-lable {
  color: #DDB278;
}

.root-lable {
  color: #7CA198;
}

.disk-lable {
  color: #C98093;
}

/*************************************************/
/*************      FETCH WEDGIT     *************/
/*************************************************/

.fetch{
  font-size: 22px;
  font-family: 'MonacoBSemi';
}


.dots{
  font-size: 15px;
  font-family: 'FontAwesome';
}

/*************************************************/
/*************      PLAYER WEDGIT    *************/
/*************************************************/

.song{
  color: #6080B0;
  font-size: 26px;
  font-family: 'Monaoc';
}

.artist{
  color: #8E6F98;
  font-size: 20px;
  font-family: 'Monaoc';
}

.control{
  color: #C98093;
  font-size: 35px;
  font-family: 'JetBrainsMono Nerd Font';
  font-weight: bold;
}

.metric-player scale trough highlight {
  all: unset;
  border-radius: 10px;
 background-color: #C98093;
  
}

.metric-player scale trough  {
  all: unset;
  background-color: #cdcfd1;
  border-radius: 50px;
  min-height: 10px;
  min-width: 210px;
  
}

/*************************************************/
/*************    LOCATIONS WEDGIT   *************/
/*************************************************/

.home, .disk, .downloads, .pictures, .favourite, .documents{
  font-size: 55px;
  font-family: 'FontAwesome';
}