[colors.bright]
black = "#928374"
blue = "#458588"
cyan = "#8ec07c"
green = "#b8bb26"
magenta = "#d3869b"
red = "#fb4934"
white = "#ebdbb2"
yellow = "#fabd2f"

[colors.normal]
black = "#282828"
blue = "#83a598"
cyan = "#689d6a"
green = "#98971a"
magenta = "#b16286"
red = "#cc241d"
white = "#a89984"
yellow = "#d79921"

[colors.primary]
background = "#282828"
foreground = "#ebdbb2"

[font]
size = 7.0

[font.bold]
family = "JetBrainsMono Nerd Font"
style = "Bold"

[font.normal]
family = "JetBrainsMono Nerd Font"
style = "Regular"

# bind alt-v: ToggleViMode
[[keyboard.bindings]]
action = "ToggleViMode"
key = "V"
mods = "Alt"

# bind alt-shift-c: Copy
[[keyboard.bindings]]
action = "Copy"
key = "C"
mods = "Alt|Shift"

# bind alt-shift-v: Paste
[[keyboard.bindings]]
action = "Paste"
key = "V"
mods = "Alt|Shift"

# bind alt-shift-j: ScrollPageDown
[[keyboard.bindings]]
key = "J"
mods = "Alt|Shift"
action = "ScrollPageDown"

# bind alt-shift-k: ScrollPageUp
[[keyboard.bindings]]
key = "K"
mods = "Alt|Shift"
action = "ScrollPageUp"

# bind alt-ctrl-t: CreateNewWindow
[[keyboard.bindings]]
action = "CreateNewWindow"
key = "T"
mods = "Alt|Control"

#[[keyboard.bindings]]
#action = "SearchForward"
#key = "F"
#mode = "~Search"
#mods = "Alt|Shift"

#[[keyboard.bindings]]
#key = "E"
#mods = "Alt|Shift"
#command.program = "sh"
#command.args = ["-c", "alacritty msg create-window --command ranger \"$PWD\""]

#[[key_bindings]]
#action = "Command"
#key = "A"
#mods = "Control|Shift"
#command = "alacritty msg config window.opacity 1.0"
#
#[[key_bindings]]
#action = "Command"
#key = "S"
#mods = "Control|Shift"
#command = "alacritty msg config window.opacity 0.8"
#
#[[key_bindings]]
#action = "Command"
#key = "L"
#mods = "Alt|Control"
#command = "/path/to/extract_links.sh"

#[window]
#opacity = 0.8

[window.padding]
x = 5
y = 5

# Enable undercurl and true color (when using alacritty)
#if -F "#{==:$TERM,alacritty}" {
#  set -g default-terminal "alacritty"
#  set -ga terminal-features ",alacritty:RGB:usstyle"
#}
#
## Enable statusbar only, if there are multiple tabs (https://redd.it/6lwb07)
#if -F "#{==:#{session_windows},1}" "set -g status off" "set -g status on"
#set-hook -g window-linked 'if -F "#{==:#{session_windows},1}" \
#  "set -g status off" "set -g status on"'
#set-hook -g window-unlinked 'if -F "#{==:#{session_windows},1}" \
#  "set -g status off" "set -g status on"'

# https://github.com/Piotr1215/dotfiles/blob/master/.config/alacritty/alacritty.toml
#[[hints.enabled]]
#command = "xdg-open"
#hyperlinks = true
#post_processing = true
#persist = false
#mouse.enabled = true
#binding = { key = "Space", mods = "Control|Shift" }
#regex = "(ipfs:|ipns:|magnet:|mailto:|gemini://|gopher://|https://|http://|news:|file:|git://|ssh:|ftp://)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"
#
#[[hints.enabled]]
#regex = '[^ ]+(?:\s*)$' 
#command = { program = "/usr/bin/tmux", args = ["split-window", "-h", "-c", "#{pane_current_path}", "sh", "-c", "nvim \"$0\""] }
#binding = { key = "Space", mods = "Alt|Shift" }

# Testing
#[[hints.enabled]]
#command = "vim" # On Linux/BSD
# command = "open" # On macOS
# command = { program = "cmd", args = [ "/c", "start", "" ] } # On Windows
#hyperlinks = false
#post_processing = true
#persist = false
#mouse.enabled = true
#binding = { key = "F", mods = "Control|Shift" }
#regex = '(\n|.)*/\.[^/]*[^~]'

# bind alt-shift-o: open url via xdg-open (quickselect)
[[hints.enabled]]
regex = "https?://[^\"]+"
#command = { program = "cmd", args = ["/c", "start", "firefox", "--new-tab", "{}"] }
#command = { program = "xdg-open", args = ["{}"] }
command = "xdg-open"
#command = "Open"
#command = "start"
#binding = { key = "Space", mods = "Control|Shift" }
binding = { key = "o", mods = "Alt|Shift" }

# bind alt-shift-space: paste last word (quickselect)
# https://github.com/alacritty/alacritty/issues/4063
[[hints.enabled]]
regex = '[^ ]+(?:\s*)$' 
#command= sh -c 'printf "%s" "{}"'
#command = { program = "cmd", args = [ "/c", "echo \"test\"|clip" ] }
#action="Select"
#action="Copy"
action="Paste"
binding = { key = "Space", mods = "Alt|Shift" }

# bind alt-shift-w: paste word (quickselect, min 2 chars)
[[hints.enabled]]
regex = "\\S{2,}"
action="Paste"
binding = { key = "W", mods = "Alt|Shift" }

#[[hints.enabled]]
#regex = "(?:[-._~/a-zA-Z0-9])*/(?:[-._~/a-zA-Z0-9]*)"
#action="Paste"
#binding = { key = "E", mods = "Alt|Shift" }
#
#[[hints.enabled]]
#regex = "[a-zA-Z]:\\\\(?:[-._a-zA-Z0-9\\\\ ]+)"
#action="Paste"
#binding = { key = "E", mods = "Alt|Shift" }

# bind alt-shift-e: paste path (quickselect, unix/windows/UNC paths)
[[hints.enabled]]
#regex = "(?:[-._~/a-zA-Z0-9])*/(?:[-._~/a-zA-Z0-9]*)|[a-zA-Z]:\\\\(?:[-._a-zA-Z0-9\\\\ ]+)"
#regex = "(?:[-._~#/a-zA-Z0-9])*/(?:[-._~#/a-zA-Z0-9]*)|[a-zA-Z]:\\\\(?:[-._#a-zA-Z0-9\\\\]+(?: [^ ]+)?\\\\*)"
#regex = "(?:[-._~#/a-zA-Z0-9$])*/(?:[-._~#/a-zA-Z0-9$]*)|[a-zA-Z]:\\\\(?:[-._#$:~a-zA-Z0-9\\\\ ]+)|\\\\\\\\seusers\\.ia\\.corp\\.svea\\.com\\\\(?:[-._#$:~a-zA-Z0-9\\\\ ]+)"
#regex = "(?:[-._~#/a-zA-Z0-9$])*/(?:[-._~#/a-zA-Z0-9$]*)|[a-zA-Z]:\\\\(?:[-._#$:~a-zA-Z0-9\\\\ ]+)|\\\\\\\\seusers\\.ia\\.corp\\.svea\\.com\\\\(?:[-._#$:~a-zA-Z0-9\\\\ ]+)|\\$env:[a-zA-Z_][a-zA-Z0-9_]*[\\/](?:[-._~#/a-zA-Z0-9$]*)"
# Mixed slashes, unix-style, windows-style and UNC paths
#regex = "(?:[-._~#/a-zA-Z0-9$])*/(?:[-._~#/a-zA-Z0-9$]*)|[a-zA-Z]:[/\\\\](?:[-._#$:~a-zA-Z0-9/\\\\ ]+)|\\\\\\\\seusers\\.ia\\.corp\\.svea\\.com[/\\\\](?:[-._#$:~a-zA-Z0-9/\\\\ ]+)|\\$env:[a-zA-Z_][a-zA-Z0-9_]*[\\/](?:[-._~#/a-zA-Z0-9$]*)"
# Multiple mixed slashes
regex = "(?:[-._~#+/a-zA-Z0-9$])*/(?:[-._~#+/a-zA-Z0-9$]*)|[a-zA-Z]:[/\\\\]+(?:[-._#$:+~a-zA-Z0-9/\\\\ ]+)|\\\\\\\\seusers\\.ia\\.corp\\.svea\\.com[/\\\\]+(?:[-._#$:+~a-zA-Z0-9/\\\\ ]+)|\\$env:[a-zA-Z_][a-zA-Z0-9_]*[\\\\/]+(?:[-._~#+/a-zA-Z0-9$]*)"
action="Paste"
binding = { key = "E", mods = "Alt|Shift" }

